xml-resources/web-service-references/ConvertirUnidadesVolumen/wsdl/localhost_8080/ConvertirUnidadesVolumen/ConvertirUnidadesVolumen.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ConvertirUnidadesVolumen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ConvertirUnidadesVolumen/">

<xs:element name="galonesALitros" type="tns:galonesALitros"/>

<xs:element name="galonesALitrosResponse" type="tns:galonesALitrosResponse"/>

<xs:element name="litrosAGalones" type="tns:litrosAGalones"/>

<xs:element name="litrosAGalonesResponse" type="tns:litrosAGalonesResponse"/>

<xs:complexType name="litrosAGalones">
<xs:sequence>
<xs:element name="litros" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="litrosAGalonesResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="galonesALitros">
<xs:sequence>
<xs:element name="galones" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="galonesALitrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>